.navbar {
    height: 60px;
/*    border: 1px solid red;*/
    margin-top: 10px;
}

.hero{
    background-color: #acd373;
    text-align: center;
    padding-bottom: 78px;
    height: 290px;
}

.buttonPopular {
    background-color: aqua;
}

.content {
    font-size: 19pt;
}

.input {
    width: 256px;
}


img {
    vertical-align: middle;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
}


p {
    
    display: inline-block;
}